@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Italianno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Italianno&family=Raleway:ital,wght@0,100;0,400;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(241,245,248);
    height: 100%;
}

/* text 부분 */
h1 {
    font-family: 'Italianno', cursive;
    font-size: 100px;
    color: rgb(200,163,105);
    text-align: center;
}

.questions {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    color: rgb(15, 40, 74);
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px; 
}

/* 질문 박스 */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: white;
    width: 1200px;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    text-align: left;
    padding: 20px;
    color: rgb(15, 40, 74);
    cursor: pointer;
    border-radius: 1rem;
    transition: 0.4s;
    margin-bottom: 40px;
    box-shadow: 3px 3px 3px;
}

.active, #box1:hover {
    background-color:aquamarine;
}

.active, #box2:hover {
    background-color:lightpink;
}

.active, #box3:hover {
    background-color:khaki;
}

/* 버튼 */
#btn:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 20px;
    color: rgb(200,163,105);
    float: right;
    margin-left: 5px;
}
    
.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* 버튼 클릭 시 세부사항 */
#details1 {
    display: none;
}

#details2 {
    display: none;
}

#details3 {
    display: none;
}
        
#divisionLine {
    border-top: 3px solid gray;
    margin: 20px auto;
    width: 1150px;
}